@if (state === ChatState.Connected) {
    <div class="chat">
        <div class="chat__container">
            <ul>
                @for (message of messages; track message) {
                    <li class="{{ getMessageClass(message) }}">
                        <div [innerHtml]="message.Sender" class="chat__message-sender"></div>
                        <div [innerHtml]="message.Content" class="chat__message-content"></div>
                    </li>
                }
                <li #target></li>
            </ul>
            <form action="">
                <input [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}" autocomplete="off" />
                <button (click)="send(target)">Send</button>
            </form>
        </div>
    </div>
}
@else if (state === ChatState.Registrating) {
    <div class="chat__name-popup">
        <div class="chat__name-popup-row">
            <div class="chat__name-popup-window">
                <h2>Enter your username</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Your username</mat-label>
                    <input matInput [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}" autocomplete="off">
                </mat-form-field>
                <div class="chat__name-enter-button">
                    <button mat-stroked-button color="primary" (click)="enterName()">Enter</button>
                </div>
            </div>
        </div>
    </div>
}
@else {
    <div class="chat__loader">
        <mat-spinner diameter="70"></mat-spinner>
    </div>
}
